@media (max-width: 480px) {
    :root {
        --h1-celular: 25px;
        --h2-celular: 30px;
        --h3-celular: 16px;
        --texto-general-celular: 14;
    }

    header {
        height: 310px;
    }

    h1 {
        font-size: var(--h1-celular);
    }


    .slide-1 {

        background-position:
            20% center,
            left bottom,
            250% center,
            center;
        background-size:
            25%,
            20%,
            cover,
            cover;
    }

    .slide-2 {
        background-position:
            20% center,
            left bottom,
            250% center,
            center;
        background-size:
            25%,
            20%,
            cover,
            cover;
    }

    .slide-3 {
        background-position:
            20% center,
            left bottom,
            250% center,
            center;
        background-size:
            25%,
            20%,
            cover,
            cover;
    }

    h1 {
        font-size: var(--h1-celular);
    }

    .contenedor-principal {
        background-position:
            calc(50% - 30%) 90%,
            calc(20% - 5%) 33%,
            calc(90% - -15%) 17%;
        background-size:
            auto,
            40%,
            40%;
        display: block;
    }

    .pc-texto {
        text-align: center;
        transform: translateX(0);
        padding: 0 20px;
    }

    .pc-texto p {
        font-size: var(--texto-general-celular);
        font-weight: lighter;
        width: 100%;
        text-align: center;
    }

    .circulo-pequeño {
        width: 10%;
        padding: 10px 0;
    }

    iframe {
        margin: 20px 0;
        width: 100%;
    }

    .pc-imagenes {
        background-size: contain;
        transform: translateX(0);
    }

    .primera {
        z-index: 0;
        width: 80%;
    }

    .segunda {
        z-index: 1;
        margin: -20px 50px 0 0;
        width: 80%;

    }

    .tercera {
        z-index: 2;
        margin: -20px -50px 0 0;
        width: 80%;
    }

    .contenedor-circulos-iconos {
        display: block;
        text-align: center;
        justify-content: center;
        transform: translateX(100px);
    }

    .cont-azul {
        background-color: var(--azul);
        border-radius: 50%;
        width: 40%;
        height: 150px;
    }

    .cont-azul img {
        width: 20%;
    }

    .cont-azul h3 {
        font-size: var(--h3-celular);
    }

    .cont-naranja {
        border-radius: 100%;
        width: 40%;
        height: 150px;
        margin-right: 50px;
    }

    .cont-naranja img {
        width: 20%;
    }

    .cont-naranja h3 {
        font-size: var(--h3-celular);
    }

    .segundo-contenedor {
        padding: 0 20px;
    }

    .segundo-contenedor p {
        font-size: var(--texto-general-celular);
    }

    .sub-contenedor {
        display: block;
        grid-template-columns: 1fr 1fr;
        /* 2 columnas del mismo tamaño */
        gap: 0;
        justify-content: center;
        align-items: center;
    }

    .cont-izq p {
        transform: translateX(0);
    }

    .texto-circulos {
        background-position:
            calc(50% - 20%) 100%,
            calc(10% - -120%),
            calc(50% - 60%);
        background-size:
            40%,
            80%,
            75%;
        padding: 50px 0 50px 0;
    }

    .texto-circulos h1 {
        color: var(--blanco);
        font-size: 45px;
        line-height: 1;
    }
}