@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --principal: #2E2E2E;
    --naranja: #F5764D;
    --azul: #44C8EE;
    --blanco: #ffffff;
    --h1: 40px;
    --h2: 50px;
    --h3: 20px;
    --texto-general: 18px;
}

.naranja {
    color: var(--naranja);
}

.azul {
    color: var(--azul);
}

.resaltado{
    color: var(--principal);
    font-weight: 500;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0 20px 0;
}

.menu {
    display: flex;
    gap: 50px;
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: var(--texto-general)
}

header {
    width: 100%;
    height: 800px;
    overflow: hidden;
}

/* Contenedor del slider */
.slider {
    display: flex;
    width: 300%; /* 3 imágenes, así que 300% */
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

/* Cada slide */
.slide {
    width: 100%;
}

.slide-1 {
    background-image:
        url('../imagenes/banners/text-tb-1.webp'),
        url('../imagenes/banners/persona-1.webp'),
        url('../imagenes/banners/banner-teambuilding-1.webp'),
        url('../imagenes/banners/banner-1.webp');
    background-repeat:
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat;
    background-position:
        30% center,
        left bottom,
        0 center,
        180% center;
    background-size:
        25%,
        20%,
        auto,
        80%;
}

.slide-2 {
    background-image:
        url('../imagenes/banners/text-tb-2.webp'),
        url('../imagenes/banners/persona-2.webp'),
        url('../imagenes/banners/banner-teambuilding-2.webp'),
        url('../imagenes/banners/banner-2.webp');
    background-repeat:
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat;
    background-position:
        30% center,
        left bottom,
        0 center,
        180% center;
    background-size:
        25%,
        20%,
        auto,
        80%;
}

.slide-3 {
    background-image:
        url('../imagenes/banners/text-tb-3.webp'),
        url('../imagenes/banners/persona-3.webp'),
        url('../imagenes/banners/banner-teambuilding-3.webp'),
        url('../imagenes/banners/banner-3.webp');
    background-repeat:
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat;
    background-position:
        30% center,
        left bottom,
        0 center,
        180% center;
    background-size:
        25%,
        20%,
        auto,
        80%;
}

.primer-h1 {
    color: var(--principal);
    font-size: var(--h1);
    text-align: center;
    padding: 50px 0 50px 0;
}

.primer-contenedor{
    background-image: 
    url('../imagenes/fondo.webp'),
    url('../imagenes/circulos/circulo-azul-mediano.webp'),
    url('../imagenes/circulos/circulo-blanco-grande.webp');
    background-repeat: 
    no-repeat,
    no-repeat,
    no-repeat;
    background-position: 
    calc(50% - 30%) -90%,
    calc(20% - 5%) 58%,
    calc(50% - 10%) 30%;
    background-size:
    auto,
    15%,
    14%;
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columnas del mismo tamaño */
    gap: 0;
    justify-content: center;
}

.pc-texto {
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translateX(100px);
}

.pc-texto p{
     text-align: center;
    font-size: var(--texto-general);
    font-weight: lighter;
}

.circulo-pequeño{
    width: 4%;
    padding: 10px 0;
}

iframe{
    background-position: calc(20% - 50%) 500px;
    margin: 50px 0;
}

.segundo-h1 {
    color: var(--principal);
    font-size: var(--h1);
    text-align: center;
    padding: 50px 0 0 0;
}

.pc-imagenes {
    background-image: url('../imagenes/fondo-circulos-de-colores.webp');
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    transform: translateX(-100px);
}

.primera{
    z-index: 0;
}

.segunda{
    z-index: 1;
    margin: -50px 300px 0 0;
}

.tercera{
    z-index: 2;
    margin: -50px -50px 0 0;
}

.contenedor-circulos-iconos{
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
}

.cont-azul {
    background-color: var(--azul);
    border-radius: 100%;
    width: 15%;
    height: 300px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.5;
    margin-right: -50px;
}

.cont-azul h3{
    color: var(--blanco);
    font-size: var(--h3);
}

.cont-naranja{
    background-color: var(--naranja);
    border-radius: 100%;
    width: 15%;
    height: 300px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    opacity: 0.8;
    margin-right: -50px;
}

.cont-naranja h3{
    color: var(--blanco);
    font-size: var(--h3);
}

.segundo-contenedor{
    background-image: url('../imagenes/fondo.webp');
    background-repeat: no-repeat;
    background-position: 50px center;
    padding: 50px 0 50px 0;
    text-align: center;
}

.segundo-contenedor p{
    font-size: var(--texto-general);
}

.sub-contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columnas del mismo tamaño */
    gap: 0;
    justify-content: center;
    align-items: center;
} 

.cont-izq p{
    transform: translateX(100px);
}

.cont-izq{
    font-size: var(--texto-general);
}

.texto-circulos{
    background-image: 
    url('../imagenes/circulos/circulo-azul-mediano.webp'),
    url('../imagenes/circulos/circulo-negro-grande.webp'),
    url('../imagenes/circulos/circulo-naranja-mediano.webp');
    background-repeat:
    no-repeat,
    no-repeat,
    no-repeat;
    background-position: 
    calc(50% - 50px) 320px,
    85% center,
    25% center;    
    background-size:
    30%,
    60%,
    55%;
    padding: 80px 0 80px 0;
}

.texto-circulos h1{
    color: var(--blanco);
    font-size: 100px;
    line-height: 1;
}

.cont-der{
    transform: translateX(-100px);
}

.cont-der p{
    font-size: var(--texto-general);
}

.cont-imagenes-der{
    background-image: 
    url('../imagenes/circulos/circulo-azul-grande.webp'),
    url('../imagenes/circulos/circulo-blanco-chico.webp');
    background-repeat: 
    no-repeat,
    no-repeat;
    background-position: 
    calc(20% - -45%) 150%,
    calc(10% - -10%) 0;
    background-size: 
    50%,
    8%;
} 

.imagenV2{
    margin: 0 0 80px 20px;
}

.tercer-contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* ejemplo */
    gap: 0px;
}

.tercer-contenedor > div {
  border: 2px solid #000; /* borde para cada columna */
  padding: 20px;
}

.contenedor-uno{
    margin-left: 45%;
}

.contenedor-uno h2{
    border-radius: 100%;
    background-color: var(--naranja);
    text-align: center;
    width: 25%;
    color: var(--blanco);
    font-size: var(--h2);
    font-weight: 600;
    box-shadow:5px 5px 5px rgba(0,0,0,0.3);
    margin: 100px 0 0 0;
}

.contenedor-uno h3{
    background-color: var(--azul);
    color: var(--blanco);
    border-radius: 20px;
    padding: 10px 20px 10px 35px;
    margin-right: 40px;
    font-size: var(--h3);
}

.contenedor-uno p{
    font-size: 15px;
}

.contenedor-dos{
    background-image: url('../imagenes/imagen-teambuilding-7.webp');
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.contenedor-dos h2{
    border-radius: 100%;
    background-color: var(--naranja);
    text-align: center;
    width: 13%;
    color: var(--blanco);
    font-size: var(--h2);
    font-weight: 600;
    box-shadow:5px 5px 5px rgba(0,0,0,0.3);
    margin: 0 0 20px 0;
}

.contenedor-dos h3{
    background-color: var(--azul);
    color: var(--blanco);
    border-radius: 20px;
    padding: 10px 10px 10px 12px;
    width: 45%;
    margin: 0 10px 0 30px;
    font-size: var(--h3);
    z-index: 1;
}

.contenedor-dos p{
    background-color: var(--blanco);
    font-size: 15px;
    border-radius: 100px;
    padding: 25px 25px 10px 25px;
    margin: -3% 40% 0 0;
    z-index: 0;
}

.contenedor-tres{
    text-align: left;
}

.contenedor-tres h2{
    border-radius: 100%;
    background-color: var(--naranja);
    text-align: center;
    width: 25%;
    color: var(--blanco);
    font-size: var(--h2);
    font-weight: 600;
    box-shadow:5px 5px 5px rgba(0,0,0,0.3);
    margin: 100px 0 0 0;
}

.contenedor-tres h3{
    background-color: var(--azul);
    color: var(--blanco);
    border-radius: 20px;
    padding: 10px 20px 10px 35px;
    margin-right: 40px;
    font-size: var(--h3);
}

.contenedor-tres p{
    font-size: 15px;
}
