@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --principal: #2E2E2E;
    --naranja: #F5764D;
    --azul: #44C8EE;
    --titulo: 40px;
}

.naranja {
    color: var(--naranja);
}

.azul {
    color: var(--azul);
}

.resaltado{
    color: var(--principal);
    font-weight: 500;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0 20px 0;
}

.menu {
    display: flex;
    gap: 50px;
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-style: 20px;
}

header {
    width: 100%;
    height: 800px;
    /* Altura del banner */
    overflow: hidden;
    /* Fondo negro para contraste */
}

/* Contenedor del slider */
.slider {
    display: flex;
    width: 300%;
    /* 3 imágenes, así que 300% */
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

/* Cada slide */
.slide {
    width: 100%;
}

.slide-1 {
    background-image:
        url('../imagenes/banners/text-tb-1.webp'),
        url('../imagenes/banners/persona-1.webp'),
        url('../imagenes/banners/banner-teambuilding-1.webp'),
        url('../imagenes/banners/banner-1.webp');
    background-repeat:
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat;
    background-position:
        30% center,
        left bottom,
        0 center,
        180% center;
    background-size:
        25%,
        20%,
        auto,
        80%;
}

.slide-2 {
    background-image:
        url('../imagenes/banners/text-tb-2.webp'),
        url('../imagenes/banners/persona-2.webp'),
        url('../imagenes/banners/banner-teambuilding-2.webp'),
        url('../imagenes/banners/banner-2.webp');
    background-repeat:
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat;
    background-position:
        30% center,
        left bottom,
        0 center,
        180% center;
    background-size:
        25%,
        20%,
        auto,
        80%;
}

.slide-3 {
    background-image:
        url('../imagenes/banners/text-tb-3.webp'),
        url('../imagenes/banners/persona-3.webp'),
        url('../imagenes/banners/banner-teambuilding-3.webp'),
        url('../imagenes/banners/banner-3.webp');
    background-repeat:
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat;
    background-position:
        30% center,
        left bottom,
        0 center,
        180% center;
    background-size:
        25%,
        20%,
        auto,
        80%;
}

h1 {
    color: var(--principal);
    font-size: var(--titulo);
    text-align: center;
    padding: 50px 0 50px 0;
}

.primer-contenedor{
    padding: 50px 0 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columnas del mismo tamaño */
    gap: 0;
    justify-content: center;
}

.pc-texto {
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 150px;
}

.circulo{
    width: 4%;
    padding: 10px 0;
}

iframe{
    margin: 50px 0;
}

.pc-imagenes {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.primera{
    z-index: 0;
}

.segunda{
    z-index: 1;
    margin: -50px 300px 0 0;
}

.tercera{
    z-index: 2;
    margin: -50px -50px 0 0;
}